<!DOCTYPE html>
<html>
<head>
    <title>Theme designer</title>
    <script async src="/js/base.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Theme designer</a>
            <div class="nav-collapse collapse pull-right">
                <a href="javascript:void(0);" class="btn" id="signinButton">Sign in</a>
            </div>
        </div>
    </div>
</div>
<div class="container">

        <table id="musicTable" class="table table-striped" style="visibility:hidden;">
            <thead>
                <th>Name</th>
                <th>Music</th>
                <th>Player</th>
            </thead>
            <tbody id="outputLog">

            </tbody>
        </table>

    <form onsubmit="return false">
        <h2>Create melodies here!</h2>
        <div><label for="name">Name:</label><input id="name" /></div>
        <div><label for="music_string">Melody:</label><input id="music_string" /></div>
        <div><input id="createMusic" type="submit" class="btn btn-small" value="Submit"></div>
    </form>

    <form onsubmit="return false" style="visibility:hidden;" id="getAll">
        <h2>Get all melodies!</h2>
        <div><input id="listMelodies" type="submit" class="btn btn-small" value="Submit"></div>
    </form>

    <script>
        function init() {
            google.appengine.samples.theme.init('//' + window.location.host + '/_ah/api');
        }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
</div>
</body>
</html>
